asgiref==3.8.1
crispy-bootstrap5==2024.2
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.1.4
django-cache-url==3.4.5
django-crispy-forms==2.2
environs==11.0.0
gunicorn==22.0.0
marshmallow==3.23.1
packaging==24.2
psycopg==3.2.2
psycopg-binary==3.2.2
python-dotenv==1.0.1
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.7.0
